<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Página de Contacto</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4">Contacto</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
               
                <div class="text-center my-3">
                    <p>Puedes contactarme directamente en:</p>
                    <p class="text-danger">
                      <a href="mailto:albmonmar3@gmail.com">albmonmar3@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
